.cell { width: 85px; }
.cell-medium { width: 150px; }
.cell-large { width: 210px; }
.cell-huge { width: 400px; }

table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 10px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

input[type="text"] {
    border: none;
}

table.results-table {
    table-layout: fixed;
    width: 100%;
}